@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth overflow-x-hidden;
    accent-color: #ffdd19;
    scrollbar-color: #ffdd19 #303741;
}

::-webkit-scrollbar {
    color: #303741;
}

::-webkit-scrollbar-thumb {
    background: #ffdd19;
}

@layer utilities {
    @keyframes shake {
        0%, 100% {
            @apply translate-y-0;
        }

        25% {
            @apply translate-y-1/4;
        }

        75% {
            @apply -translate-y-1/4;
        }
    }

    .animate-shake {
        animation: shake 350ms 1;
        animation-timing-function: cubic-bezier(.65,0,.35,1);
    }
}
